html, body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}
body{
	background-color: #d8d6df;
	position: absolute;
}
.header{
	background: linear-gradient(to left, #6b5389 0%, #382b47 50%, #6b5389 100%);
	position: relative;
	display: inline-block;
	width: 100%;
	height: 70px;
	padding: 0px;
}
.name{
	display: block;
	height: 68px;
	width: 50%;
}
H1{
	margin-left: 20px;
	margin-top:6px;
	font-size: 50px;
	color: white;
	font-family: msyi;
}
a{
	color: white;
	display: block;
	margin-top: -55px;
	margin-left: 1250px;
	width: 70px;
	text-decoration: none;
	font-size: 25px;
}
a:hover{
	border: 2px solid white;
	padding: 3px;
	margin-top: -60px;
	margin-left: 1245px;
}
a.auth{
	margin-left: 1200px;
	margin-top: -70px;
	width: 135px;
}
a.auth:hover{
	margin-left: 1195px;
	margin-top: -75px;
}
H2{
	text-align: center;
}
.auth_form{
	margin-top: 5%;
	margin-left: 38%;
	border-top: 3px solid #6b5389;
	width: 325px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}
form{
	margin: 10px 10px 10px 10px;
	padding-bottom: 10px;
}
input{
	border-radius: 17px;
	border: 2px solid black;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	-khtml-border-radius: 17px;
	background-color: white;
	margin-bottom: 5px;
	margin-left: 30px;
	height: 39px;
	width: 230px;
	padding: 5px;
	color: black;
	outline: none;
}
body ::-webkit-input-placeholder{
	color: black;
	padding-left: 10px;
	font-weight: bold;
}
body ::-moz-placeholder{
	color: black;
	padding-left: 10px;
	font-weight: bold;
}
body :-moz-placeholder{
	color: black;
	padding-left: 10px;
	font-weight: bold;
}
body :-ms-input-placeholder{
	color: black;
	padding-left: 10px;
	font-weight: bold;
}
body button{
	background-color: #382b47;
	border: none;
	border-radius: 9px;
	height: 37px;
	width: 121px;
	font-size: 17px;
	color: white;
	margin-top: 15px;
	margin-left: 102px;
	outline: none;
}
button:hover{
	background-color: #6b5389;
}
footer{
	margin-top: 57px;
	height: 50px;
	background-color: #bebcc4;
}
H3{
	padding-top: 9px;
	text-align: center;
	color: #807f84;
}
.sign_in_footer{
	margin-top: 231px;
}
@font-face{
	font-family: msyi;
	src:url(fonts/msyi.ttf) format('truetype')
}