html, body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
body{
	background-color: #d8d6df;
	position: absolute;
}
*{
	font-family: roboto;
}
.header{
	background: linear-gradient(to left, #6b5389 0%, #55426b 50%, #6b5389 100%);
	position: relative;
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0px;
}
.name{
	display: block;
	height: 38px;
	width: 40%;
}
H1{
	margin-left: 20px;
	margin-top: 5px;
	font-size: 25px;
	color: #d8d6df;
}
a{
	color: #d8d6df;
	display: block;
	margin-top: -35px;
	margin-left: 1250px;
	width: 54px;
	text-decoration: none;
	font-size: 19px;
}
a:hover{
	border: 2px solid #c7c5d3;
	padding: 3px;
	margin-top: -40px;
	margin-left: 1245px;
}
a.auth{
	margin-left: 1215px;
	margin-top: -45px;
	width: 114px;
}
a.auth:hover{
	margin-left: 1210px;
	margin-top: -50px;
}
H2{
	text-align: center;
}
.auth_form{
	margin-top: 4%;
	margin-left: 38%;
	border-top: 3px solid #6b5389;
	width: 325px;
	background-color: #e6e4ef;
	box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}
form{
	margin: 10px 10px 10px 10px;
	padding-bottom: 10px;
}
input{
	border-radius: 17px;
	border: 1px solid black;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	-khtml-border-radius: 17px;
	background-color: #efedf7;
	margin-bottom: 10px;
	margin-left: 30px;
	height: 39px;
	width: 230px;
	padding: 5px;
	color: black;
	outline: none;
}
body ::-webkit-input-placeholder{
	color: black;
	padding-left: 10px;
	font-weight: bold;
}
body ::-moz-placeholder{
	color: black;
	padding-left: 10px;
	font-weight: bold;
}
body :-moz-placeholder{
	color: black;
	padding-left: 10px;
	font-weight: bold;
}
body :-ms-input-placeholder{
	color: black;
	padding-left: 10px;
	font-weight: bold;
}
body button{
	background-color: #56426e;
	border: none;
	border-radius: 9px;
	height: 37px;
	width: 121px;
	font-size: 17px;
	color: #e6e4ef;
	margin-top: 40px;
	margin-left: 92px;
	margin-bottom: 15px;
	outline: none;
}
button:hover{
	background-color: #6b5389;
}
footer{
	margin-top: 53px;
	height: 40px;
	background-color: #bebcc4;
}
H3{
	padding-top: 9px;
	text-align: center;
	color: #9695a0;
	font-family: yi;
}
.sign_in_footer{
	margin-top: 236px;
}
.drop_pass{
	margin-top: 298px;
}
@font-face{
	font-family: roboto;
	src:url(fonts/Roboto-Regular.ttf) format('truetype')
}
@font-face{
	font-family: yi;
	src:url(fonts/msyi.ttf) format('truetype')
}